In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read in dataframe
df = pd.read_csv('../Dataset/TEDSA_PUF_2020.csv')

In [3]:
# Data columns
df.columns

Index(['ADMYR', 'CASEID', 'STFIPS', 'CBSA2010', 'EDUC', 'MARSTAT', 'SERVICES',
       'DETCRIM', 'NOPRIOR', 'PSOURCE', 'ARRESTS', 'EMPLOY', 'METHUSE',
       'PSYPROB', 'PREG', 'GENDER', 'VET', 'LIVARAG', 'DAYWAIT', 'DSMCRIT',
       'AGE', 'RACE', 'ETHNIC', 'DETNLF', 'PRIMINC', 'SUB1', 'SUB2', 'SUB3',
       'ROUTE1', 'ROUTE2', 'ROUTE3', 'FREQ1', 'FREQ2', 'FREQ3', 'FRSTUSE1',
       'FRSTUSE2', 'FRSTUSE3', 'HLTHINS', 'PRIMPAY', 'FREQ_ATND_SELF_HELP',
       'ALCFLG', 'COKEFLG', 'MARFLG', 'HERFLG', 'METHFLG', 'OPSYNFLG',
       'PCPFLG', 'HALLFLG', 'MTHAMFLG', 'AMPHFLG', 'STIMFLG', 'BENZFLG',
       'TRNQFLG', 'BARBFLG', 'SEDHPFLG', 'INHFLG', 'OTCFLG', 'OTHERFLG',
       'DIVISION', 'REGION', 'IDU', 'ALCDRUG'],
      dtype='object')

In [4]:
# Data header
df.head()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2020,125137,1,-9,2,4,4,-9,-9,2,...,0,0,0,0,0,0,4,2,1,2
1,2020,213872,1,-9,4,2,7,3,0,7,...,0,0,0,0,0,0,4,2,0,2
2,2020,1098409,1,-9,1,-9,7,-9,0,7,...,0,0,0,0,0,0,9,4,0,2
3,2020,955089,1,-9,4,1,5,2,0,7,...,0,0,0,0,0,0,6,3,0,2
4,2020,907960,1,-9,2,1,6,-9,2,3,...,0,0,0,0,0,0,6,3,0,1

In [5]:
# Display basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416357 entries, 0 to 1416356
Data columns (total 62 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ADMYR                1416357 non-null  int64
 1   CASEID               1416357 non-null  int64
 2   STFIPS               1416357 non-null  int64
 3   CBSA2010             1416357 non-null  int64
 4   EDUC                 1416357 non-null  int64
 5   MARSTAT              1416357 non-null  int64
 6   SERVICES             1416357 non-null  int64
 7   DETCRIM              1416357 non-null  int64
 8   NOPRIOR              1416357 non-null  int64
 9   PSOURCE              1416357 non-null  int64
 10  ARRESTS              1416357 non-null  int64
 11  EMPLOY               1416357 non-null  int64
 12  METHUSE              1416357 non-null  int64
 13  PSYPROB              1416357 non-null  int64
 14  PREG                 1416357 non-null  int64
 15  GENDER               1416357 non-null  int64
 16  VET                  1416357 non-null  int64
 17  LIVARAG              1416357 non-null  int64
 18  DAYWAIT              1416357 non-null  int64
 19  DSMCRIT              1416357 non-null  int64
 20  AGE                  1416357 non-null  int64
 21  RACE                 1416357 non-null  int64
 22  ETHNIC               1416357 non-null  int64
 23  DETNLF               1416357 non-null  int64
 24  PRIMINC              1416357 non-null  int64
 25  SUB1                 1416357 non-null  int64
 26  SUB2                 1416357 non-null  int64
 27  SUB3                 1416357 non-null  int64
 28  ROUTE1               1416357 non-null  int64
 29  ROUTE2               1416357 non-null  int64
 30  ROUTE3               1416357 non-null  int64
 31  FREQ1                1416357 non-null  int64
 32  FREQ2                1416357 non-null  int64
 33  FREQ3                1416357 non-null  int64
 34  FRSTUSE1             1416357 non-null  int64
 35  FRSTUSE2             1416357 non-null  int64
 36  FRSTUSE3             1416357 non-null  int64
 37  HLTHINS              1416357 non-null  int64
 38  PRIMPAY              1416357 non-null  int64
 39  FREQ_ATND_SELF_HELP  1416357 non-null  int64
 40  ALCFLG               1416357 non-null  int64
 41  COKEFLG              1416357 non-null  int64
 42  MARFLG               1416357 non-null  int64
 43  HERFLG               1416357 non-null  int64
 44  METHFLG              1416357 non-null  int64
 45  OPSYNFLG             1416357 non-null  int64
 46  PCPFLG               1416357 non-null  int64
 47  HALLFLG              1416357 non-null  int64
 48  MTHAMFLG             1416357 non-null  int64
 49  AMPHFLG              1416357 non-null  int64
 50  STIMFLG              1416357 non-null  int64
 51  BENZFLG              1416357 non-null  int64
 52  TRNQFLG              1416357 non-null  int64
 53  BARBFLG              1416357 non-null  int64
 54  SEDHPFLG             1416357 non-null  int64
 55  INHFLG               1416357 non-null  int64
 56  OTCFLG               1416357 non-null  int64
 57  OTHERFLG             1416357 non-null  int64
 58  DIVISION             1416357 non-null  int64
 59  REGION               1416357 non-null  int64
 60  IDU                  1416357 non-null  int64
 61  ALCDRUG              1416357 non-null  int64
dtypes: int64(62)
memory usage: 670.0 MB

In [6]:
# Null values
df.isnull().sum()

ADMYR       0
CASEID      0
STFIPS      0
CBSA2010    0
EDUC        0
           ..
OTHERFLG    0
DIVISION    0
REGION      0
IDU         0
ALCDRUG     0
Length: 62, dtype: int64

In [7]:
# If we need to drop any values 
df_cleaned_rows = df.dropna()

In [8]:
# Stats summary
df.describe()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
count,1416357.0,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,...,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06,1.416357e+06
mean,2020.0,7.083363e+05,2.412021e+01,1.865520e+04,1.447161e+00,-9.742643e-01,5.515133e+00,-6.902913e+00,7.707584e-01,1.926300e+00,...,1.998084e-04,9.453831e-04,3.781532e-03,1.172021e-03,1.366887e-03,2.817863e-02,4.621093e+00,2.410930e+00,-9.080423e-01,1.824642e+00
std,0.0,4.089547e+05,1.501933e+01,1.726255e+04,4.132239e+00,4.706313e+00,1.970050e+00,4.836071e+00,3.621113e+00,4.582768e+00,...,1.413395e-02,3.073256e-02,6.137781e-02,3.421473e-02,3.694617e-02,1.654830e-01,2.666952e+00,1.178385e+00,3.046881e+00,9.376045e-01
min,2020.0,1.000000e+00,1.000000e+00,-9.000000e+00,-9.000000e+00,-9.000000e+00,1.000000e+00,-9.000000e+00,-9.000000e+00,-9.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e+00,0.000000e+00
25%,2020.0,3.541780e+05,8.000000e+00,-9.000000e+00,2.000000e+00,1.000000e+00,4.000000e+00,-9.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
50%,2020.0,7.083210e+05,2.600000e+01,1.698000e+04,3.000000e+00,1.000000e+00,7.000000e+00,-9.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00
75%,2020.0,1.062519e+06,3.600000e+01,3.562000e+04,3.000000e+00,1.000000e+00,7.000000e+00,-9.000000e+00,3.000000e+00,6.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00,4.000000e+00,0.000000e+00,2.000000e+00
max,2020.0,1.416653e+06,7.200000e+01,9.999900e+04,5.000000e+00,4.000000e+00,8.000000e+00,8.000000e+00,5.000000e+00,7.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00,4.000000e+00,1.000000e+00,3.000000e+00

In [9]:
# Duplicates? 
df.duplicated().sum()

0

In [10]:
## Display unique values


# Gender
gender = {1: 'Male', 2: 'Female', -9: 'Unknown'}

    # New coulmn named Gender_Label
df['GENDER_LABEL'] = df['GENDER'].map(gender)

gender_count = df['GENDER_LABEL'].value_counts()
    
    # Print
print(f'The unique Male and Female values are: {gender_count}!')



# Ethnicity
ethnicity = {1: 'Puerto Rican', 2: 'Mexican', 3: 'Cuban', 4: 'Not Hispanic or Latino', 5: 'Hispanic or Latino', -9: 'Unknown'}

    # New column named Ethnicity_Label
df['ETHNICITY_LABEL'] = df['ETHNIC'].map(ethnicity)

ethnicity_count = df['ETHNICITY_LABEL'].value_counts()

    # Print
print(f'The unique ethnicity values are: {ethnicity_count}!')



# Age
age = {1: '12-14', 2: '15-17', 3: '18-20', 4: '21-24', 5: '25-29', 6: '30-34', 7: '35-39', 8: '40-44', 9: '45-49', 10: '50-54', 11: '55-64', 12: '65+'}

    # New column named Age_Label
df['AGE_LABEL'] = df['AGE'].map(age)

age_count = df['AGE_LABEL'].value_counts()

    # Print
print(f'The unique age values are: {age_count}!')

The unique Male and Female values are: GENDER_LABEL
Male       918299
Female     497175
Unknown       883
Name: count, dtype: int64!
The unique ethnicity values are: ETHNICITY_LABEL
Not Hispanic or Latino    1153503
Unknown                     63676
Mexican                     59291
Puerto Rican                48170
Cuban                       46199
Hispanic or Latino          45518
Name: count, dtype: int64!
The unique age values are: AGE_LABEL
30-34    252021
25-29    223641
35-39    213290
40-44    154807
55-64    143172
45-49    117886
50-54    112989
21-24    102090
18-20     37669
15-17     28110
65+       24028
12-14      6654
Name: count, dtype: int64!

In [11]:
# Location by region
region = {0: 'US jurisdiction', 1: 'Northeast', 2: 'Midwest', 3: 'South', 4: 'West'}

    # New column named Location_by_region
df['Location_by_region'] = df['REGION'].map(region)

location_region = df['Location_by_region'].value_counts()

    # Print
print(f'The unique region values are: {location_region}!')

The unique region values are: Location_by_region
Northeast          445033
West               363124
Midwest            303605
South              303333
US jurisdiction      1262
Name: count, dtype: int64!

In [12]:
# Location by division
division = {0: 'US jurisdiction', 1: 'New England', 2: 'Middle Atlantic', 3: 'East North Central', 4: 'West North Central', 5: 'South Atlantic', 6: 'East South Central', 7: 'West South Central', 8: 'Mountain', 9: 'Pacific'}

    # New column named Location_by_division
df['Location_by_division'] = df['DIVISION'].map(division)

location_division = df['Location_by_division'].value_counts()

    # Print
print(f'The unique division values are: {location_division}!')

The unique division values are: Location_by_division
Middle Atlantic       306177
Mountain              239269
South Atlantic        176039
East North Central    163748
West North Central    139857
New England           138856
Pacific               123855
West South Central     70429
East South Central     56865
US jurisdiction         1262
Name: count, dtype: int64!

In [15]:
# Location by state
states = {1: 'Alabama', 2: 'Alaska', 4: 'Arizona', 5: 'Arkansas', 6: 'California', 8: 'Colorado', 9: 'Connecticut', 10: 'Delaware', 11: 'District of Columbia', 12: 'Florida', 13: 'Georgia', 15: 'Hawaii', 17: 'Illinois', 18: 'Indiana', 19: 'Iowa', 20: 'Kansas', 21: 'Kentucky', 22: 'Louisiana', 23: 'Maine', 25: 'Massachusetts', 26: 'Michigan', 27: 'Minnesota', 28: 'Mississippi', 29: 'Missouri', 30: 'Montana', 31: 'Nebraska', 32: 'Nevada', 33: 'New Hampshire', 34: 'New Jersey', 36: 'New York', 37: 'North Carolina', 38: 'North Dakota', 39: 'Ohio', 40: 'Oklahoma', 42: 'Pennsylvania', 44: 'Rhode Island', 45: 'South Carolina', 46: 'South Dakota', 47: 'Tennessee', 48: 'Texas', 49: 'Utah', 50: 'Vermont', 51: 'Virginia', 54: 'West Virginia', 55: 'Wisconsin', 56: 'Wyoming', 72: 'Puerto Rico'}

    # New column named Location_by_state
df['Location_by_state'] = df['STFIPS'].map(states)

location_state = df['Location_by_state'].value_counts()

    # Print
print(f'The unique state values are: {location_state}!')

The unique state values are: Location_by_state
New York                201573
Arizona                 144377
California              116891
New Jersey               81368
Colorado                 69727
Michigan                 64535
Massachusetts            63927
Minnesota                50673
Connecticut              48395
North Carolina           42046
Florida                  41846
Illinois                 36211
Georgia                  33649
Texas                    33272
Missouri                 26816
Iowa                     24120
Indiana                  23721
Pennsylvania             23266
South Carolina           22149
Ohio                     21386
Virginia                 19528
Kentucky                 18467
Wisconsin                17908
Tennessee                16954
South Dakota             15318
Alabama                  14779
Rhode Island             13781
Oklahoma                 13554
Louisiana                12812
Delaware                 12293
Utah                     11421
Kansas                   11089
Arkansas                 10790
Nebraska                 10229
Nevada                    8833
Mississippi               6664
Maine                     6135
Alaska                    5512
Vermont                   4986
Wyoming                   3724
District of Columbia      3066
New Hampshire             1604
North Dakota              1600
West Virginia             1478
Hawaii                    1455
Puerto Rico               1251
Montana                   1178
Name: count, dtype: int64!

In [16]:
# Primary drug preference
drugs = {1: 'None', 2: 'Alcohol', 3: 'Cocaine', 4: 'Marijuana', 5: 'Heroin', 6: 'Methadone', 7: 'Opiates', 8: 'PCP', 9: 'Hallucinogens', 10: 'Methamphetamine', 11: 'Other amphetamines', 12: 'Other stimulants', 13: 'Benzodiazepines', 14: 'Tranquilizers', 15: 'Barbiturates', 16: 'Sedatives', 17: 'Inhalants', 18: 'Over-the-counter medications', 19: 'Other drugs', -9: 'Unknown'}

    # New column named Primary_Drug_Preference
df['Primary_Drug_Preference'] = df['SUB1'].map(drugs)

primary_drugs = df['Primary_Drug_Preference'].value_counts()

    # Print
print(f'The unique values of primary drug preference are: {primary_drugs}!')

The unique values of primary drug preference are: Primary_Drug_Preference
Alcohol                         442014
Heroin                          292126
Methamphetamine                 167722
Unknown                         139822
Marijuana                       139481
Opiates                          87200
Cocaine                          71725
None                             33568
Benzodiazepines                  13679
Other amphetamines                9367
Other drugs                       6593
PCP                               3692
Other stimulants                  2224
Hallucinogens                     1899
Methadone                         1714
Sedatives                         1471
Barbiturates                       752
Inhalants                          696
Over-the-counter medications       493
Tranquilizers                      119
Name: count, dtype: int64!

In [ ]:
# Save cleaned data to a new CSV file
df.to_csv('../Dataset/cleaned_data.csv', index=False)